
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;

    max-width: 1200px;
    margin: 0 auto;
}

.movie img {
    width: 100%;
}



@media screen and (max-width: 850px ) {
    .d-grid {
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 580px) {
    .d-grid {
        grid-template-columns: repeat(2,1fr);
    }
}


.title {
    font-size: 16px;
    text-decoration: none;
    height: 42px;
    line-height: 42px;
    background: var(--bs-gray-dark);
}



.form-control.dark {
    background: var(--bs-dark);
    color: var(--bs-light);
    border-color: var(--bs-gray-dark);
}

.form-control.dark:focus {
    background: var(--bs-dark);
    box-shadow: 0 0 2px 0.25rem var(--bs-gray-dark);
}

.info:nth-child(2n+1) {
    background: var(--bs-dark);
}

.bg-gray-dark {
    background: var(--bs-gray-dark);
}



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #212529;
}

::-webkit-scrollbar-thumb {
    background: #696969;
}
