<footer class="text-center text-lg-start mt-5" style="background: #343a40;">
	<div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2021 Copyright:
		<a class="text-light" href="/">My Galery</a>
	</div>
</footer>