
<a href="<%= href %> " class="text-decoration-none">
    <article class="movie">
        <h2 class="title text-white text-center mb-0 align-items-center">
            <%= name %>
        </h2>
        <img src="<%= thumb %>" alt="<%= name %>" />
    </article>
</a>
